.card_rating,
.card_rating-same {
  margin: auto;
  max-width: 90%;
  font-size: 1.2rem;
  height: auto;
  padding: 15px 20px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 0px 0px 13.8769px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_rating-same {
  display: none;
}

.wrap-card-comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ul-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.comment-info {
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
  padding-bottom: 5px;
}
.image_comment {
  max-width: 15%;
  margin-right: 10px;
}

.user-photo-info {
  justify-content: flex-start;
}

.stars-list {
  background-image: url(../images/Star5.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  width: 10px;
  height: 10px;
}
.stars-list + .stars-list {
  margin-left: 10px;
}

.user-photo-info_name p:last-child {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--bg-green);
}

.card_rating,
.card_rating-same {
  position: relative;
}

.card_rating::after,
.card_rating-same::before {
  content: url(../images/arrow-left.png);
  cursor: pointer;
  bottom: 36%;
  left: -4%;
  position: absolute;
  display: none;
}

.card_rating-same::before {
  content: url(../images/arrow-right.png);
  left: 95%;
  display: none;
}

.bottom-arrow {
  margin: auto;
}
.bottom-arrow img {
  cursor: pointer;
}
.bottom-arrow img + img {
  margin-left: 30px;
}

.comment-slider-nav {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .card_rating-same,
  .card_rating {
    display: block;
    max-width: 48%;
  }
  .comment-slider-nav {
    max-width: 50%;
  }
  .bottom-arrow {
    display: none;
  }
  .card_rating::after,
  .card_rating-same::before {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .image_comment {
    width: 10%;
  }
  .comment-info {
    width: 70%;
    font-size: 1.2rem;
    padding-bottom: 15px;
    padding-top: 30px;
  }
  .user-photo-info {
    margin: 15px 0;
  }
  .card_rating,
  .card_rating-same {
    padding: 20px 40px;
  }
  .card_rating::after {
    bottom: 42%;
    left: -2%;
  }
  .card_rating-same::before {
    bottom: 42%;
    left: 97%;
  }
}

@media screen and (min-width: 1200px){
  .user-photo-info_name p:last-child {
    margin-top: 10px;
  }
  }