.green {
  background-color: var(--bg-green);
  border-radius: 5px;
  padding: 0px 20px;
  color: var(--color-white);
  font-weight: bold;
  position: relative;
}
.green::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(177, 175, 175);
  top: 110%;
  left: 0;
  display: none;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 30px 0;
}

.right-block {
  width: 60%;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.right-block > div + div {
  margin-left: 5px;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tel {
  font-size: 1.5rem;
}
.tel-info {
  padding-top: 5px;
  font-size: 0.8rem;
}

.header-phone-img {
  width: 1.2rem;
}

.btn-green {
  background-color: transparent;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  padding: 14px 50px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-family: Gilroy;
  font-weight: 700;
  transition: all ease 0.2s;
}

.btn-green:hover {
  background-color: var(--color-white);
  color: var(--bg-green);
}

.btn-green > span {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.sign-in-img {
  width: 18%;
}

.sign-in img {
  padding-bottom: 5px;
}

.header-burger {
  width: 23px;
  height: 2px;
  margin: 12px;
  top: 10px;
  border-radius: 20px;
  position: relative;
  background-color: var(--color-white);
}

.header-burger::before,
.header-burger::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: var(--color-white);
  bottom: 20px;
  border-radius: 20px;
}

.header-burger::after {
  bottom: 10px;
}

.header-burger-wrap {
  padding: 9px 0px;
  background-color: var(--bg-green);
  box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  margin-left: auto;
  cursor: pointer;
}

.main-nav-ul {
  margin-top: 60px;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0 50px;
  display: none;
}
.nav-list {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  position: relative;
}



.nav-list-ul {
  position: absolute;
  font-size: 1rem;
  text-transform: none;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
}
.sub-ul-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid white;
  color: #fff;
  background-color: var(--bg-green);
}
.sub-ul-list:first-child {
  border-radius: 10px 10px 0px 0px;
}
.sub-ul-list:last-child {
  border-radius: 0px 0px 10px 10px;
}

.sub-ul-list a {
  display: inline-block;

  padding: 10px 0 5px ;
}

.nav-list:hover > .nav-list-ul {
  display: block;
}
.nav-list-ul {
  width: 200%;
}



.main-nav-ul > li:not(:first-child) {
  transition: all ease-out 0.1s;
}
.main-nav-ul > li:not(:first-child):hover {
  color: var(--bg-green);
}

.nav-list-company {
  display: flex;
  padding: 10px 15px 6px 10px;
  align-items: baseline;
  border: 2px solid transparent;
  transition: ease all 0.2s;
}
.nav-list-company:hover {
  border-radius: 5px;
  border: 2px solid var(--bg-green);
}

.nav-list-company .fa-chevron-down,
.nav-list .fa-chevron-down {
  font-size: 1.4rem;
  display: inline-block;
  padding-left: 10px;
  width: 100%;
}
.fa-search {
  width: 50px;
  height: 50px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}
.fa-search:hover {
  border-radius: 5px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .header-burger-wrap {
    padding: 15px 0px;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-burger::before,
  .header-burger::after {
    width: 35px;
  }
  .header-burger {
    width: 35px;
  }
  .tel {
    word-spacing: -2.5px;
  }
  .green::after {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .right-block {
    display: flex;
  }
  .header-burger-wrap {
    display: none;
  }
  .btn-green {
    padding: 15px 30px;
  }
  .right-block {
    width: 62%;
  }
  .main-nav-ul {
    display: flex;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .btn-green {
    padding: 15px 50px;
  }
  .header-info {
    align-items: center;
  }
  .green {
    padding: 0px 70px;
  }
  .main-nav-ul {
    font-size: 1.5rem;
  }
}
