.slider-info {
  text-align: center;
  max-width: 700px;
  margin: auto;
}
.slider-abz {
  padding-top: 30px;
  font-size: 1.1rem;
}

.col-wrap-center {
  margin: auto;
}

.advantage-preview {
  margin-top: 60px;
}

.flex-slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  position: relative;
}

.flex-slider::after {
  content: url(../images/derection-left.png);
  position: absolute;
  top: 135%;
  left: 35%;
  cursor: pointer;
  
}
.flex-slider::before {
  content: url(../images/direction-right.png);
  position: absolute;
  top: 135%;
  left: 56%;
  order: -2;
  cursor: pointer;
  
}

.slider-two,
.slider-three {
  max-width: 80%;
  min-width: 20%;
  width: 70%;
}
.slider-one-title {
  font-size: 1rem;
  font-weight: bold;
}

.slider-one-info {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  max-width: 95%;
}

.slider-one {
  max-width: 90%;
  min-width: 50%;
  width: 80%;
}
.wrap-content {
  z-index: 4;
  position: absolute;
  bottom: 12%;
  left: 13%;
  width: 80%;
  color: #fff;
  display: none;
}

.wrap-content1 {
  z-index: 4;
  position: absolute;
  bottom: 12%;
  left: 13%;
  width: 80%;
  color: #fff;
}

.more {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  bottom: 7%;
  z-index: 2;
  color: #fff;
}

.slider-imagess-three,
.slider-imagess-two,
.slider-imagess-one {
  position: relative;
  padding-top: calc(120% + 50px);
}

.slider-imagess-two::before,
.slider-imagess-three::before,
.slider-imagess-one::before {
  content: "";
  background-image: url(../images/builders.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: inherit;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider-imagess-three::before {
  background-image: url(../images/girl.png);
  display: none;
}

.slider-imagess-one::before {
  background-image: url(../images/sapvage.png);
  display: block;
  
}

.list-slide-nav {
  min-width: 30%;
  max-width: 70%;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.list-item + .list-item {
  margin-left: 8px;
}

.list-item {
  width: 10%;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(180, 172, 172);
}
.list-item:first-child {
  background-color: var(--bg-green);
}

@media screen and (min-width: 576px) {
  .wrap-content {
    display: block;
  }
  .slider-one {
    min-width: 30%;
  }
  .list-slide-nav {
    max-width: 40%;
  }
  .slider-imagess-three::before,
  .slider-imagess-two::before {
    display: block;
  }

}

@media screen and (min-width: 768px) {

  .flex-slider::after {
    top: 50%;
    left: -3%;
  }
  .flex-slider::before {
    top: 50%;
    left: 98%;
  }
}

@media screen and (min-width: 1200px) {
  .slider-one-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .slider-one-info {
    font-size: 1rem;
    line-height: 1rem;
  }
  .flex-slider::after {
    top: 50%;
    left: -2%;
  }
  .slider-imagess-one::before {
    width: 98%;
  }
}
