:root {
  --bg-green: #65c466;
  --color-white: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-family: Gilroy;
}
body {
  margin-top: 5px;
  font-size: 14px;
}

@font-face {
  font-family: Gilroy;
  font-style: light;
  font-weight: 400;
  src: local("Gilroy"), local("Gilroy-Light"),
    url(../../fonts/Gilroy-Light.woff), url(../../fonts/Gilroy-Light.woff2);
}
@font-face {
  font-family: Gilroy;
  font-style: Regular;
  font-weight: 600;
  src: local("Gilroy"),
    local("Gilroy-Regular") url(../../fonts/Gilroy-Regular.woff),
    url(../../fonts/Gilroy-Regular.woff2);
}
@font-face {
  font-family: Gilroy;
  font-style: Bold;
  font-weight: 800;
  src: local("Gilroy"), local("Gilroy-Bold") url(../../fonts/Gilroy-Bold.woff),
    url(../../fonts/Gilroy-Bold.woff2);
}

@font-face {
  font-family: Trajan Pro 3;
  font-style: Bold;
  font-weight: 400;
  src: local("Trajan Pro 3"), url(../../fonts/TrajanPro3Regular.woff),
    url(../../fonts/TrajanPro3Regular.woff2);
}

h2 {
  font-family: Trajan Pro 3;
  font-size: 2rem;
  color: var(--bg-green);
  padding: 15px 0;
  margin: 0px;
  padding: 0px;
}

.flex-colomn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns {
  padding: 10px 20px;
  background-color: var(--bg-green);
  color: #fff;
  font-family: Gilroy;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  font-weight: 700;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
